<br>
User Show Page
<br>
<% if flash[:authorized] %>
  <p><%= flash[:authorized]%></p>
<% end %>

<br>

<%= @user.username %>
<%= @user.firstname %>
<%= @user.lastname %>
<%= @user.photo %>
<%= @user.experience %>
<%= @user.bio %>
<%= @user.facebook %>
<%= @user.twitter %>
<%= @user.github %>
<%= @user.website %>
<%=  "Member Since #{@user.created_at.month}/#{@user.created_at.year}" %>
