<br>
User Show Page
<br>



<img src="<%= @user.photo %>" alt="user_image">


Full Name: <%= @user.full_name %>

Experience: <%= @user.experience %>

Bio: <%= @user.bio %>

<p>Social media</p>

<a href="<%= @user.facebook %>">Facebook</a>
<a href="<%= @user.twitter %>">Twitter</a>
<a href="<%= @user.github %>"> Github</a>
<a href"<%= @user.website %>">Website</a>

<br>
<%=  "Member Since #{@user.created_at.month}/#{@user.created_at.year}" %>
