<!DOCTYPE html>
<html>
  <head>
    <title>Module2GroupProjectHashout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "HashOut", home_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item <%= request.path == functions_path ? "active" : "" %>">
            <%= link_to "Functions", functions_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == locations_path ? "active" : "" %>">
            <%= link_to "Locations", locations_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == languages_path ? "active" : "" %>">
            <%= link_to "Languages", languages_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == about_path ? "active" : "" %>">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <% if session[:user_id] != nil %>
            <li class="nav-item dropdown">
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Edit Profile", edit_user_path(User.find(session[:user_id])), class: "dropdown-item" %>
                <%= link_to "Log out", logout_path, method: "post", class: "dropdown-item" %>
                <%# <div class="dropdown-divider"></div> %>
              </div>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="logged_in_img">
                  <%# <img src="= User.find(session[:user_id]).photo" alt="=User.find(session[:user_id]).username"> %>
                  <img src="https://avatars0.githubusercontent.com/u/10384309?s=400&u=f22b84e7c9e949e4a561c96c9b5961e859a5cd44&v=4" alt="">
                </div>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to register_path, class: "nav-link" do %>
                <i class="fas fa-user"> </i>
                Sign Up
              <% end %>
            </li>
            <li class="nav-item ml-1">
              <%= link_to login_path, class: "nav-link" do  %>
                <i class="fas fa-sign-in-alt"> </i>
                Log in
              <% end %>
            </li>
          <% end %>
        </ul>
        <%# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> %>
      </div>
    </nav>
     <%= yield %>

    <footer>

    </footer>
  </body>
</html>
