<!DOCTYPE html>
<html>
  <head>
    <title>Module2GroupProjectHashout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Locations Index", locations_path %>
    <%= link_to "Languages Index", languages_path %>
    <%= link_to "Home", home_path %>
    <%= yield %>

    <% if session[:user_id] != nil %>
      <h1>HELLO, your user id is <%= session[:user_id] %> </h1>
      <%= link_to "Log out", logout_path, method: "post" %>
    <% end %>

  </body>
</html>
